
save/*
cifar-10-batches-py/*
cifar-10-python.tar.gz
cifar-100-python.tar.gz
cifar-100-python/
clients.pkl
Homework3-PACS/
PACS/*
metadata.txt
FashionMNIST/
analyze_tautuning.ipynb
analyze_testaccs_paper.ipynb
analyze_data.ipynb
paper_vis.ipynb
data/